TestClient/Service References/ServiceReference1/Emp2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://hishams2.middleeast.corp.microsoft.com/MOICT.Service/Emp.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MoICT.Entities" />
  <xs:element name="GetEmps">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MoICT.Entities" minOccurs="0" name="GetEmpsResult" nillable="true" type="q1:ArrayOfEmpInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>